/* root changes */

:root {
    --background-1: #333940;   
    --headerpurple: #d448e4;

}

* {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
 
    
}

/* elements */

body {
    background-color: var(--background-1);
    color: white;
}

h1 {
    color: var(--headerpurple);
    font-size: 250%; 
    padding-top: 1%;
    text-align: center;

}

header p {
    padding: 0 15%;
    text-align: center;
}

footer {

    color: var(--headerpurple);
    font-size: 175%;
    font-weight: 700;
    padding-bottom: 5%;    
    text-align: center;
}

/* flex container */

.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    padding: 5%;

}

/* cards */

.card {
    background-color: var(--background-1);
    border-style: dashed;
    border-color: white; 
    border-width: 2px;
    margin: 1%;
    margin-bottom: 2%;    
    max-width: 300px;
    min-width: 300px;
    padding: 2%;
    width: 32%;
}


.class-header {
    background-color: var(--background-1);
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: var(--headerpurple);
    font-size: 150%;
    margin-top: -50px;
    padding-left: 2%;
    position: relative;
    z-index: 1; 
}

.descriptive-text {
    color: var(--headerpurple);
    font-size: 13px;
    padding: 2% 0;
    
}

.content {    
    background: linear-gradient(#96799d, var(--headerpurple));
    border-radius: 10px;
    color: white;
    font-family: monospace;
    font-weight: 300;
    padding: 1%;
    position: relative;
    user-select: all;
    
    
}

.card:hover {
        box-shadow: 0 5px 15px rgba(232, 102, 236, 1);
}

/* media changes */

@media screen and (max-width: 768px) {
    .card {
        padding: 2%;
        margin-bottom: 6%;
        margin-top: 6%;
        
    }
}

@media screen and (max-width: 400px) {
    .card {
        margin-bottom: 6%;
        margin-top: 6%;
        padding: 7%;
    }
}